<p style="font-size:9px;">Version: Discussion version 1, 
    July 18, 2023 | Updated Oct 30, 2023: <b>Oct 30, 2023</b> [&copy; 2023 gb]</p>
<img src="images/ischool-banner.png" />
<p>&nbsp;</p>
<div style="height: 50px;color:#3B7EA1; font-size:24px; vertical-align:top; text-align:left;">
    Computing for Data Science
    <img style="width:20%; vertical-align:top; float: left; padding-right: 20px; display: block; margin-left: 0; margin-right: auto;" 
         src="images/ucb_logo.png"/>
</div>
<hr />
<h1 style="font-size:32; color: #003262;">Week 10: Part 3</h1>

<hr />
<p style="background-color: #003262; color:white; border-radius: 5px; padding: 12px; font-size:22px;"><b>Optional Part 3: A worked example</b>
</p>
<hr />
<p><a href="w10.ipynb">Back to Main Lesson</a> ::  
    <a href="w10.ipynb">Back to Optional Page 2</a></p>
<p style="color:cornflowerblue;">A Final Demo: Reading some data for demo</p>
<p>Let&rsquo;s get some  data from a .csv file (cities.csv) ... to imagine we&rsquo;ve have real files from work.<br />
NB: in our source file, strings should be in double-quotes, not single ones.</p>
<p>The demo data look like this:
<pre>
Rank,City,Country,Population,CensusDate
1,London,UK,"9,000,000",June 2014
2,Berlin,DE,"4,000,000",June 2014
3,Paris,FR,"1,500,000",Aug 2014
4,Marseilles,FR,"2,500,000",Aug 2014
5,München,DE,"2,200,100",April 2014
6,香港,CN,"7,577,231",Oct 2021
</pre>
</p>
<h3>Below: Note the use of the delimiter, encoding, and header options for the read_csv.</h3>

In [9]:
import pandas as pd

df_pop = pd.read_csv("files/cities.csv", delimiter=",", encoding="utf-8", header=0)
print("First some info about our objects from the file and then the head()")
df_pop.info()
print("")
print(df_pop.head())

First some info about our objects from the file and then the head()
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        6 non-null      int64
 1   City        6 non-null      object
 2   Country     6 non-null      object
 3   Population  6 non-null      object
 4   CensusDate  6 non-null      object
dtypes: int64(1), object(4)
memory usage: 372.0+ bytes

   Rank        City Country Population  CensusDate
0     1      London      UK  9,000,000   June 2014
1     2      Berlin      DE  4,000,000   June 2014
2     3       Paris      FR  1,500,000    Aug 2014
3     4  Marseilles      FR  2,500,000    Aug 2014
4     5     München      DE  2,200,100  April 2014

In [10]:
""" note that df.head(n) is the same as df[:n] """

' note that df.head(n) is the same as df[:n] '

In [11]:
print("\n","-"*40,"\nNot happy with this messy data.  Let's clean it up a bit by removing the comma; use apply to convert strings to ints; make a new column ")
df_pop["NumericPopulation"] = df_pop.Population.apply(lambda x: int(x.replace(",", "")))

df_pop["Country"] = df_pop["Country"].apply(lambda x: x.strip())
# and confirm
print(df_pop.head())

 ----------------------------------------
Not happy with this messy data.  Let's clean it up a bit by removing the comma; use apply to convert strings to ints; make a new column
   Rank        City Country Population  CensusDate  NumericPopulation
0     1      London      UK  9,000,000   June 2014            9000000
1     2      Berlin      DE  4,000,000   June 2014            4000000
2     3       Paris      FR  1,500,000    Aug 2014            1500000
3     4  Marseilles      FR  2,500,000    Aug 2014            2500000
4     5     München      DE  2,200,100  April 2014            2200100

In [12]:
print("\n","-"*50,"Lets index the data by the city name.  Change index by \"set_index()\" and sort.")
print("Sort by country and the city ... so set sort_index(level=0) (meaning first index); replace 0 with whatever int you want")
df_pop2 = df_pop.set_index("City")
df_pop2 = df_pop2.sort_index()
print("just city: ", df_pop2.head())

 -------------------------------------------------- Lets index the data by the city name.  Change index by "set_index()" and sort.
Sort by country and the city ... so set sort_index(level=0) (meaning first index); replace 0 with whatever int you want
just city:              Rank Country Population  CensusDate  NumericPopulation
City
Berlin         2      DE  4,000,000   June 2014            4000000
London         1      UK  9,000,000   June 2014            9000000
Marseilles     4      FR  2,500,000    Aug 2014            2500000
München        5      DE  2,200,100  April 2014            2200100
Paris          3      FR  1,500,000    Aug 2014            1500000

In [13]:
print("now country and city")
df_pop3 = df_pop.set_index(["Country", "City"]).sort_index(level=0)
df_pop3.head()

now country and city

                    Rank Population  CensusDate  NumericPopulation
Country City
CN      香港             6  7,577,231    Oct 2021            7577231
DE      Berlin         2  4,000,000   June 2014            4000000
        München        5  2,200,100  April 2014            2200100
FR      Marseilles     4  2,500,000    Aug 2014            2500000
        Paris          3  1,500,000    Aug 2014            1500000

In [14]:
print("\nGet some counts by Country: how many cities appear for each country?")
city_count = df_pop.Country.value_counts()
print(city_count.head())

print("\nDropping, grouping, reducing ... Drop a column, groupby another column ... and can apply a reduction (like sum, mean...)")
df_pop5 = (df_pop.drop("Rank", axis=1)
    .groupby("Country").sum()
    .sort_values("NumericPopulation",
    ascending=False))

print(df_pop5.head())

Get some counts by Country: how many cities appear for each country?
Country
DE    2
FR    2
UK    1
CN    1
Name: count, dtype: int64

Dropping, grouping, reducing ... Drop a column, groupby another column ... and can apply a reduction (like sum, mean...)
                    City          Population           CensusDate  \
Country
UK                London           9,000,000            June 2014
CN                    香港           7,577,231             Oct 2021
DE         BerlinMünchen  4,000,0002,200,100  June 2014April 2014
FR       ParisMarseilles  1,500,0002,500,000     Aug 2014Aug 2014

         NumericPopulation
Country
UK                 9000000
CN                 7577231
DE                 6200100
FR                 4000000

<hr />
<h2>Odds and Ends</h2>
<p>We'll add some fields, select, sort on conditions.</p>

In [15]:
elections = pd.read_csv('files/results_current.txt')
elections.head()

,race,id,fips_char,fips5,place,fname,lname,party,pab,votes,incumbent,mpc
0,President,0,1,NaN,Alabama,Donald,Trump,REP,R,1434159.0,1.0,1.0
1,President,0,1,NaN,Alabama,Joe,Biden,DEM,D,843473.0,0.0,1.0
2,President,0,1,NaN,Alabama,Jo,Jorgensen,LIB,O,24994.0,0.0,0.0
3,President,0,1,NaN,Alabama,NaN,Write-ins,WRI,O,7274.0,0.0,0.0
4,President,1019,1,1019.0,Cherokee County,Donald,Trump,REP,R,10562.0,1.0,1.0

In [16]:
elections.race.value_counts() #

race
President    31583
Senate       14514
Governor      5160
House         1184
Name: count, dtype: int64

In [20]:
print(elections.groupby(['lname', 'pab']).size())

lname      pab
Abbey      O        1
Ackerman   D        1
Adams      D        1
Aderholt   R        1
Adkins     R        1
                 ...
Zinone     R        1
Zmich      R        1
Zuckerman  D      247
Zunker     D        1
Zwinak     O        1
Length: 1213, dtype: int64

In [21]:
elections['lname'].value_counts('Trump')

lname
Write-ins    0.096463
Trump        0.089418
Jorgensen    0.089418
Biden        0.089418
Hawkins      0.057729
               ...
Schilling    0.000019
Vincent      0.000019
Batiste      0.000019
Leleux       0.000019
Haggit       0.000019
Name: proportion, Length: 1108, dtype: float64

<p>End</p>