## Week 10 In-Class Activity

In [13]:
from IPython.display import Image
import pandas as pd
import numpy as np

#Image("pile_of_pandas.png", width = 300)

## Indexing Tips

Indexing in Pandas is confusing - especially when you have integer indices

In [8]:
X = pd.DataFrame(np.arange(25).reshape((5,5)), 
                 index = ['First', 'Second', 'Third', 'Fourth', 'Fifth'], 
                 columns = ['A', 'B', 'C', 'D', 'E'])
X

         A   B   C   D   E
First    0   1   2   3   4
Second   5   6   7   8   9
Third   10  11  12  13  14
Fourth  15  16  17  18  19
Fifth   20  21  22  23  24

How do you get the 17?

We **strongly** recommend that you learn two indexing methods: loc and iloc.

loc uses labels, iloc uses index position. These are usually all you need.

Do not use ix, which sometimes uses labels and sometimes positions.

In [3]:
X.loc['Fourth','C']

17

In [4]:
X.iloc[3,2]

17

How would you get the 12, 13, and 18?

In [9]:
X.loc['Third','C']

12

In [10]:
X.iloc[2,3]

13

In [11]:
X.iloc[3,3]

18

## Pandas Cheat Sheet

Some of the most common commands you may want to use today:

#### Pandas

- .read_csv

#### Series

- .value_counts()
- .describe()
- .plot()
- .sort_values()

#### DataFrame

- .shape
- .index
- .columns
- .loc[row labels, column labels]
- .iloc[rows, columns]
- ['column name']
- .drop()
- .set_index()
- .sort_values(by = 'column name')
- .groupby()

#### Groupby

- .agg()

## We're going to Vegas!

In [12]:
Image("welcome_vegas.jpg", width = 500)

FileNotFoundError: No such file or directory: 'welcome_vegas.jpg'

FileNotFoundError: No such file or directory: 'welcome_vegas.jpg'

In [14]:
pd.options.display.float_format = '{:,.2f}'.format
import matplotlib.pyplot as plt
%matplotlib inline

The file `vegas.csv` contains data taken from trip adviser reviews in 2015.  It was used in a paper, 

- Moro, S., Rita, P., & Coelho, J. (2017). Stripping customers' feedback on hotels through data mining: The case of Las Vegas Strip. Tourism Management Perspectives, 23, 41-52.

You have been hired by Circus Circus - that's right!  that venerable icon of tasteful luxury! - to plan the next season of promotions.  In particular, the hotel is interested in questions like,

- What customer segment shows the potential for growing their market?
- What types of promotions are most likely to attract customers?
- In the longer term, what investments are likely to be most profitable for the hotel?

Here are two ways to access the data.  You can download from the UC Irvine Machine Learning Repository.  If you set your working directory correctly to the Google Drive folder, you can access it from there.

In [17]:
Vegas = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00397/LasVegasTripAdvisorReviews-Dataset.csv', delimiter=';')

In [18]:
#Vegas = pd.read_csv('vegas.csv', delimiter=';')

### Data Orientation

First, answer some very basic questions about the data: 
- How many rows and how many columns are there?
- Did the variable names read from the csv correctly?
- Does the Index make sense?  Are there extra indexing variables?

In [22]:
Vegas.shape

(504, 20)

In [23]:
Vegas.head()

,User country,Nr. reviews,Nr. hotel reviews,Helpful votes,Score,Period of stay,Traveler type,Pool,Gym,Tennis court,Spa,Casino,Free internet,Hotel name,Hotel stars,Nr. rooms,User continent,Member years,Review month,Review weekday
0,USA,11,4,13,5,Dec-Feb,Friends,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,9,January,Thursday
1,USA,119,21,75,3,Dec-Feb,Business,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,3,January,Friday
2,USA,36,9,25,5,Mar-May,Families,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,2,February,Saturday
3,UK,14,7,14,4,Mar-May,Friends,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,Europe,6,February,Friday
4,Canada,5,5,2,4,Mar-May,Solo,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,7,March,Tuesday

Say you found "extra" index variables after reading in the data.  That might look like this:

In [24]:
Vegas2 = Vegas.assign(extra_index = pd.Series(range(Vegas.shape[0])))
Vegas2.head()

,User country,Nr. reviews,Nr. hotel reviews,Helpful votes,Score,Period of stay,Traveler type,Pool,Gym,Tennis court,...,Casino,Free internet,Hotel name,Hotel stars,Nr. rooms,User continent,Member years,Review month,Review weekday,extra_index
0,USA,11,4,13,5,Dec-Feb,Friends,NO,YES,NO,...,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,9,January,Thursday,0
1,USA,119,21,75,3,Dec-Feb,Business,NO,YES,NO,...,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,3,January,Friday,1
2,USA,36,9,25,5,Mar-May,Families,NO,YES,NO,...,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,2,February,Saturday,2
3,UK,14,7,14,4,Mar-May,Friends,NO,YES,NO,...,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,Europe,6,February,Friday,3
4,Canada,5,5,2,4,Mar-May,Solo,NO,YES,NO,...,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,7,March,Tuesday,4

Option 1: set the index to the extra variable. How would you do this?

In [25]:
Vegas2.set_index('extra_index').head()

,User country,Nr. reviews,Nr. hotel reviews,Helpful votes,Score,Period of stay,Traveler type,Pool,Gym,Tennis court,Spa,Casino,Free internet,Hotel name,Hotel stars,Nr. rooms,User continent,Member years,Review month,Review weekday
extra_index,,,,,,,,,,,,,,,,,,,,
0,USA,11,4,13,5,Dec-Feb,Friends,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,9,January,Thursday
1,USA,119,21,75,3,Dec-Feb,Business,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,3,January,Friday
2,USA,36,9,25,5,Mar-May,Families,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,2,February,Saturday
3,UK,14,7,14,4,Mar-May,Friends,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,Europe,6,February,Friday
4,Canada,5,5,2,4,Mar-May,Solo,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,7,March,Tuesday

Option 2: drop the column with the extra variable. How would you do this?

In [29]:
Vegas2.drop('extra_index', axis=1).head()

,User country,Nr. reviews,Nr. hotel reviews,Helpful votes,Score,Period of stay,Traveler type,Pool,Gym,Tennis court,Spa,Casino,Free internet,Hotel name,Hotel stars,Nr. rooms,User continent,Member years,Review month,Review weekday
0,USA,11,4,13,5,Dec-Feb,Friends,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,9,January,Thursday
1,USA,119,21,75,3,Dec-Feb,Business,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,3,January,Friday
2,USA,36,9,25,5,Mar-May,Families,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,2,February,Saturday
3,UK,14,7,14,4,Mar-May,Friends,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,Europe,6,February,Friday
4,Canada,5,5,2,4,Mar-May,Solo,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,7,March,Tuesday

## Fixing Column Names

To make the code cleaner, it will be nice not to have spaces in the column names.  This is probably easiest to do with some regular expressions.  I'll also go all lowercase.

In [30]:
Vegas.columns = Vegas.columns.str.replace('\.*\s+', '_').str.strip('.').str.lower()
Vegas.head()

/tmp/ipykernel_2405/1082391180.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  Vegas.columns = Vegas.columns.str.replace('\.*\s+', '_').str.strip('.').str.lower()

,user_country,nr_reviews,nr_hotel_reviews,helpful_votes,score,period_of_stay,traveler_type,pool,gym,tennis_court,spa,casino,free_internet,hotel_name,hotel_stars,nr_rooms,user_continent,member_years,review_month,review_weekday
0,USA,11,4,13,5,Dec-Feb,Friends,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,9,January,Thursday
1,USA,119,21,75,3,Dec-Feb,Business,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,3,January,Friday
2,USA,36,9,25,5,Mar-May,Families,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,2,February,Saturday
3,UK,14,7,14,4,Mar-May,Friends,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,Europe,6,February,Friday
4,Canada,5,5,2,4,Mar-May,Solo,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,7,March,Tuesday

Now we can access columns as attributes with the dot notation as shown below:

In [31]:
Vegas.period_of_stay.value_counts()

Mar-May    128
Jun-Aug    126
Sep-Nov    126
Dec-Feb    124
Name: period_of_stay, dtype: int64

## Customer Overview

Let's learn about the customers overall.  
- Where are they from? (user_country column)

In [33]:
Vegas.loc['user_country']

KeyError: 'user_country'

- What kind of travelers are they? (traveler_type column)

- When did they stay in Vegas? (you will have to find the column to use)

- Which hotels did they stay in? (you will have to find the column to use)

## What about the customers of Circus Circus?

Check to see what kind of travelers stay in Circus Circus, and how they compare to travelers overall.

In [ ]:
Vegas[Vegas.hotel_name == 'Circus Circus Hotel & Casino Las Vegas'].traveler_type.value_counts().plot(kind='bar')

## Comparing Hotels

Let's get some info about how Circus Circus compares to other hotels.  We'll need to use some groupby's.  First, what is the average review score for each hotel?

In [ ]:
Vegas.score.groupby(Vegas.hotel_name).mean()

## Breakout Activity: What customers like Circus-Circus the most?

Use groupby operations to figure out what types of travelers give circus-circus the highest score.

What user_country gives Circus-Circus the highest score?

## What's driving the scores of Circus-Circus?

We want a hotel-level dataframe to hold the attributes of each hotel.  We can do this with a groupby, followed by an aggregate.  However, we need to apply different functions to different columns.  We can do this by passing in a dictionary.

In [ ]:
first_f = lambda x: x.iloc[0]
f = {'score': np.mean,
    'pool': first_f,
    'gym': first_f,
    'tennis_court': first_f,
    'spa': first_f,
    'casino': first_f,
    'free_internet': first_f}

In [ ]:
hotel_df = Vegas.groupby(Vegas.hotel_name).agg(f)
hotel_df

## Optional Activity: What do Couples care about?

In your group, choose some upgrade that Circus-Circus could consider (for example, adding a pool).  Then look at travelers that are couples specifically, and see if there's evidence that they value that attribute.

If you succeed and have time, you could try to generate a table that indicates how much different types of travelers value different hotel attributes.